<div class="main bg-[#F4F7F8]">
  <header class="w-full h-[76px] z-[3] fixed top-0 flex items-center justify-center  max-960:rounded-br-[16px]" style="background: linear-gradient(90deg, #1D4289 0%, #00B74F 76.56%);">
      <div class="header-content 960:w-[800px] max-960:w-full items-center">
          <div class="header-logo">
              <img class="960:w-[138px] 960:h-[32px]  max-960:w-[80px]  max-960:h-[20px]  max-960:ml-[16px]" src="https://vayonline.vpbank.com.vn/images/575ed78614cc4235453b92204ba2356b.svg" alt="">
          </div>
      </div>
  </header>
  <div class="content mt-[56px]">
      <div class="main-content 960:w-[800px]  390:w-[343px] max-390:w-full max-480:px-[15px]  m-auto relative 480:pt-[68px] max-480:pt-[20px]">
          <div class="mb-[16px] 960:text-[24px] max-960:text-[16px] font-[600]" >
              <span class="bg-clip-text text-transparent font-GilroyMedium font-[600]" style="background-image: linear-gradient(90deg, #1D4289 0%, #00B74F 100%);">Đăng nhập lại</span>
          </div>
          <div class="text-[16px] max-600:hidden font-GilroyMedium">Vui lòng nhập số điện thoại để đăng nhập lại.</div>
          <div class="600:hidden text-[14px]  font-GilroyMedium">Vui lòng nhập số điện thoại đã đăng ký <br>để đăng nhập lại.</div>
          <form action="" class="">
              <div class="form-wrap mt-[48px] bg-[#FFFFFF] rounded-[16px]" >
                
                  <div class="wrap-input 960:p-[64px]  max-960:py-[48px]  max-960:px-[16px] flex flex-col 960:w-[50%]  max-960:w-full">
                      <span class="960:text-[14px] font-[500] leading-[16px] mb-[5px]  ">Số điện thoại</span>
                      <input type="text" class="phonenumber font-GilroyMedium text-black 960:text-[24px] placeholder:text-[#A2A2A2] py-[7px] outline-none font-bold border-b-[2px]  border-[#f44336]" placeholder="09x-xxx-xxxx">
                  </div>
               
              </div>
              <div class="form-img absolute 960:top-[8%] right-[16px]  max-960:top-[37%]  max-960:min-h-[23%]">
                  <img class=" max-960:w-[112px]" src="https://vayonline.vpbank.com.vn/images/bbbf5a8e7810a50951792519a239baa3.svg" alt="">
              </div>
              <div class="btn-wrap flex m-auto justify-center text-center 960:w-[45%] 960:mt-[40px]  max-960:mt-[24px]">
                  <button class="form=btn w-full  480:w-[312px] max-480:w-[275px] max-390:h-[40px] 390:h-[48px] rounded-[8px] text-white font-GilroyMedium m-auto" style="box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);background: linear-gradient(90deg, #1D4289 0%, #00B74F 100%);" >Tiếp tục</button>
              </div>
          </form>
      </div>
  </div>
  <footer class="bg-white mt-[48px] ">
      <div class="footer-content 960:w-[800px] 390:w-[343px] max-390:w-full flex m-auto max-390:px-[15px] max-390:justify-between">
         <div class="footer-content-left">
          <div class="footer-left-item flex items-center max-390:w-full">
              <div class="logo-footer 960:w-[20%] flex justify-around ">
                  <img class="960:w-[138px] 960:h-[32px] max-960:w-[86px] max-960:h-[20px]" src="https://vayonline.vpbank.com.vn/images/224576b68923ced40f4acbba3e7c5281.svg" alt="">
              </div>
              <div class="960:w-[48px] max-960:w-[32px] border border-[#DFDFDF]  h-[1px] m-auto rotate-[90deg]">

              </div>
              <div class="960::mr-[24px] mt-[16px]">
                  <div class="960:text-[14px] 960:text-left my-[8px] max-960:text-[11px] mx-auto font-GilroyBold text-[#4d4d4d]">Ngân hàng TMCP Việt Nam Thịnh Vượng</div>
                  <div class="960:text-[14px] 960:text-left my-[8px] max-960:text-[11px] mx-auto font-GilroyBold mb-[24px] text-[#4d4d4d]">Trụ sở chính: <span class="font-GilroyMedium">89 Láng Hạ, Đống Đa, Hà Nội</span></div>
              </div>
          </div>
         </div>
         <div class="footer-content-right mt-[16px] ml-[24px] max-960:hidden">
              <div class="footer-content-right-item mt-[12px] mb-[24px]">
                  <div><span class="font-[700] text-[#4d4d4d]">Hotline:</span> 1900 54 54 15</div>
                  <div><span class="font-[700] text-[#4d4d4d]">Email:</span> khcn@vpbank.com.vn</div>
              </div>
         </div>
      </div>
  </footer>
</div>